

<div id="<%= book.slug %>" class="book card isotope-item <% _.each(book.tags, function(tag) { %>tag-<%= tag %> <% }) %> isotope-hidden no-touch" data-sort="<%= loop_index %>">
    <a href="#/book/<%= book.slug %>" class="modal-opener">
    <div class="book-outer-wrapper">
        <!-- Book Image -->
       <% if (book.teaser) { %>
        <div class="review hover"><%= book.teaser %><br /><div class="reviewer hover"><span class="reviewer-span">Read <strong><%= book.reviewer %>'<% if (book.reviewer[book.reviewer.length-1] != 's') { %>s<% } %></strong> full recommendation &raquo;</span></div></div>
        <% } %>
        <img src="assets/img/cover-loading.gif" data-src="assets/cover/<%= book.slug %>.jpg" alt="<%= book.title %>"/>
    </div>
    </a>
</div>
