@font-face {
  font-family: 'npr-app-template';
  src: url('../font/npr-app-template.eot?57359723');
  src: url('../font/npr-app-template.eot?57359723#iefix') format('embedded-opentype'),
       url('../font/npr-app-template.woff2?57359723') format('woff2'),
       url('../font/npr-app-template.woff?57359723') format('woff'),
       url('../font/npr-app-template.ttf?57359723') format('truetype'),
       url('../font/npr-app-template.svg?57359723#npr-app-template') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'npr-app-template';
    src: url('../font/npr-app-template.svg?57359723#npr-app-template') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "npr-app-template";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bank:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-hand:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-pinterest-circled:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-list-bullet:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-export:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-town-hall:before { content: '\e80e'; } /* '' */
.icon-clipboard:before { content: '\f0ea'; } /* '' */