{% extends '_base.html' %}

{% block header_content %}
<div class="promoContainer">
  <h1 class="promoHeader">NPR Books Concierge 2016</h1>
  <p class="promoText">The NPR Books Concierge returns on December 6th, bringing you recommendations from hundreds of NPR's favorite books of 2016. In the meantime, follow the links bellow to check out our recommendations from past years!</p>
  <div class="promoLinksContainer">
    <ul>
      <li class="promoLink"><a href="http://apps.npr.org/best-books-2015/#/_" target="_blank" class="btn btn-default">2015</a></li>
      <li class="promoLink"><a href="http://apps.npr.org/best-books-2014/#/_" target="_blank" class="btn btn-default">2014</a></li>
      <li class="promoLink"><a href="http://apps.npr.org/best-books-2013/#/_" target="_blank" class="btn btn-default">2013</a></li>
    </ul>
  </div>
</div>

{% endblock %}

{% block content %}

{% endblock %}
